x/aman/src/examples/

*.swp

dataset/testdata/db-dump.tar.gz
grok_cache/
poli_compass_results

# JavaScript
node_modules

# Rust
debug/
target/
**/*.rs.bk
flamegraph.svg

# Python
*.so
*.egg-info
__pycache__
python-lib/build
python-lib/dist
venv
.pytest_cache
.ruff_cache
**/.ipynb_checkpoints/
**/sdk/python/dist/

# Mac
.DS_STORE

# Uncompressed cross-compilation artifacts
.cross_artifacts

# IDE settings
.vscode/
.idea

# ML artifacts
**/tokenizer.model
x/xuechen/annotation_data
x/xuechen/deprecated/**
x/xuechen/assets/**
x/xuechen/dump/**

prod/quotalib/src/net/generated/**
